.top-nav{
  padding:0;
}

.top-nav .member{
  display:none;
}

.top-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.top-nav .dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.page-top p{
  margin-bottom: 0;
}

.page-top-content{
  text-align: right !important;
}