$active-color: #E9B530;
$main-bg-color:#1E437B;
$sub-title-color:#CCCCCC;
$gray-color:#6A6666;
$black-color: #3F3E3E;
$red-color:#CA4B3A;
$white-color: #FFFFFF;
$mobile-width: 960px;

$nav-link-color:#616161;
$nav-bottom-line-color: #4D6B92;
$nav-bar-height: 96px;
$nav-bar-current-bg-height: 8px;
